@model HelperMethods.Models.Person
@{
	ViewBag.Title = "CreatePerson";
	Html.EnableClientValidation(false);
}
<h2>CreatePerson</h2>
@using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post, new { @class = "personClass", data_formType = "person" }))
{
	<div class="dataElem">
		<label>PersonId</label>
		@Html.EditorFor(m => m.PersonId)
	</div>
	<div class="dataElem">
		<label>First Name</label>
		@Html.TextBoxFor(m => m.FirstName)
	</div>
	<div class="dataElem">
		<label>Last Name</label>
		@Html.TextBoxFor(m => m.LastName)
	</div>
	<div class="dataElem">
		<label>Role</label>
		@Html.DropDownListFor(m => m.Role,
new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
	</div>
	<div class="dataElem">
		<label>Birth Date</label>
		@Html.EditorFor(m => m.BirthDate)
	</div>
	<input type="submit" value="Submit" />
}