@model HelperMethods.Models.Person
@{
    Layout = null;
	ViewBag.Title = "DisplayPerson";
}

<h2>Display Person</h2>
<div class="dataElem">
	@Html.Label("PersonId")
	@Html.Display("personId")
</div>
<div class="dataElem">
	@Html.Label("FirstName")
	@Html.Display("FirstName")
</div>
<div class="dataElem">
	@Html.LabelFor(m => m.LastName)
	@Html.DisplayFor(m => m.LastName)
</div>
<div class="dataElem">
	@Html.LabelFor(m => m.Role)
	@Html.DisplayFor(m => m.Role)
</div>
<div class="dataElem">
	@Html.LabelFor(m => m.BirthDate)
	@Html.DisplayFor(m => m.BirthDate)
</div>